<h1>Seleccione tipo de pago</h1>

<a href="/Payments/CreateSinglePayment" class="btn btn-primary">Pago único</a>
<a href="/Payments/CreateRecurrentPayment" class="btn btn-secondary">Pago recurrente</a>